.editTask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: #bbb7b741;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editTask-container {
  display: grid;
  top: 10rem;
  background-color: #ffffff;
  padding: 1rem;
  width: 400px;
  height: max-content;
}

.edit-form {
  display: grid;
}
.edit-form p {
  margin-bottom: 2px;
}

.editTask-container form {
  display: flex;
  flex-direction: column;
}
.editTask-container button {
  border: none;
  border-radius: 5px;
  margin: 10px 0px;
  height: 30px;
}

.editTask-container input {
  margin: 10px 0px;
  height: 20px;
  width: 75%;
}
.editTask-container button:hover {
  cursor: pointer;
}

.cancel-bt {
  background-color: salmon;
}
.edit-bt {
  background-color: rgb(83, 119, 226);
}
